html {
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  background-color: #21232A;
  }
main {
	/* position: relative;
	z-index: 5;
	margin-bottom: 500px;
	background-color: #fafafa;
  box-shadow: 0px 1px 5px 1px rgb(216, 216, 216); */
  }
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  }
body {
  margin: 0;
  }


/* --------------------  navigation  --------------------- */













/* --------------------  forms  --------------------- */
















/* --------------------  footer  --------------------- */