/*
Standards:

background-color-dark gray: #131415
background-color-light gray:#20252a
text color-white: #fafafa
text color-black: black
accent-color: paleturquoise

deadline font-family:
paragraph font-family:
links font-family:
headlines font-famiily:

rem root: 15px
768: 
1140:
1600:

padding root: 30px 40px;
768: 
1140:
1600:

*/
body {
  margin: 0;
  }
html{
  font-size: 18px;
  line-height: 1.2;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  background-color: #20252a;
  /* background-color: #0e0f11; */
  color: #fafafa;
  }
main{
	position: relative;
	z-index: 5;
  height: fit-content;
  padding: 30px 40px;
	margin-bottom: 50vh;
  background-color: #131415;
  overflow-x: hidden;
  }
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  }
a{
  color: #fafafa;
  text-decoration: none
  }

.display-flex{
  display: flex;
}

/* --------------------  navigation  --------------------- */


.active-link{
  color: paleturquoise;
}
.nav-links_shell{
  display: flex;
  position: relative;
  z-index: 5;
  justify-content: space-between;
  align-items: center;
}
.deadline-logo{
  height: 45px;
}
.nav-links{
  display: flex;
  justify-content: space-between;
}
.nav-link{
  margin: 15px;
  text-align: center;
  font-family: open-sans-condensed,sans-serif;
  font-weight: 400;
  font-style: normal;
}
.nav-link:hover{
  text-decoration: underline 3px;
  text-underline-offset: 5px;
}

/* --------------------  home  --------------------- */

.deadline-home{
  display: flex;
  flex-direction: column;
  margin-top: 22vh;
}
.deadline{
  margin-left: -9px;
  font-family: rama-gothic-e, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 30vh;
  line-height: 23vh;
}
.art{
  font-size: 5vh;
  font-weight: 300;
  margin-bottom: 12vh;
}
.headline{
  margin-top: 5vh;
  font-weight: 700;
  font-size: 3vh;
  line-height: 5vh;
}
.bodycopy-accent{
  text-align: left;
  color: paleturquoise;
  font-family: open-sans-condensed,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2vh;
  line-height: 2.5vh;
}
.show-details{
  font-size: 2.5vh;
}

/* --------------------  forms  --------------------- */
.submit-work{
  display: flex;
}
.submission-details_shell{
  width: 22vw;
  margin-top: 30vw;
  padding-left: 2vw;
  height: 100vh;
}
.submission-details{
  font-family: open-sans-condensed,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5vh;
  line-height: 3vh;
  width: 16vw;
}
.logo_southern-heights{
  width: 13vw;
  opacity: .9;
  margin: 5px 0;
}
.bold{
  font-weight: 800;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.skull_side{
  width: 90vw;
  position: absolute;
  right: -150px;
  z-index: 1;
  top: 75px;
  opacity: .55;
  transform: rotate(-15deg);
}
.form_shell{
  width: 60vw;
  max-width: 800px;
  margin: 21vw 5vw 5vw 5vw;
}
.bodycopy_shell{
  background-color:#fafafa;
  border-radius: 5px;
  padding: 110px 30px 5px;
  margin-bottom: 30px;
}
.bodycopy{
  margin-bottom: 30px;
  color: black;
  font-size: 2.25vh;
  line-height: 1.3;
}
input{
  background-color: #20252a;
  color: #fafafa;
  font-size: 1.1rem;
  font-family: open-sans-condensed,sans-serif;
  margin: 15px 15px 15px 0px;
  border: none;
  border-radius: 6px;
  padding: 2px 10px;
  height: 2rem;
  width: calc(100% - 20px);
}
input[type=email]{
  width: calc(100% - 20px);
}
input[type=url]{
  width: calc(100% - 20px);
}
textarea {
  background-color: #20252a;
  color: #fafafa;
  font-size: 1.1rem;
  font-family: open-sans-condensed,sans-serif;
  margin: 15px 15px 15px 0px;
  border: none;
  border-radius: 6px;
  padding: 2px 10px;
  height: 2rem;
  width: calc(100% - 20px);
  height: 25vh;
  resize: none;
}
.half{
  width: calc(60% - 20px);
  margin-right: 30px;
}
.half-right{
  width: calc(60% - 20px);
}
.button-style{
  font-size: 1.1rem;
  font-family: open-sans-condensed,sans-serif;
  font-weight: 600;
  margin: 15px 15px 15px 0px;
  border-radius: 6px;
  padding: 2px 10px;
  height: 3rem;
  width: calc(75% - 20px);
  border: none;
}
button a{
  color: black;
}
.upload-work{
  background-color: #fafafa;
  color: black;
  font-size: 1.1rem;
  font-family: open-sans-condensed,sans-serif;
  font-weight: 600;
  margin: 15px 15px 15px 0px;
  border-radius: 6px;
  padding: 2px 10px;
  height: 3rem;
  width: calc(75% - 20px);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.upload-work a{
  color: black;
}
.upload-work:hover{
  background-color: #20252a;
  color: #fafafa;
}
.radio-style{
  font-size: 1.1rem;
  font-family: open-sans-condensed,sans-serif;
  margin: 10px 0;
  padding: 0;
  height: 1rem;
  width: 20px
}
.radio-style-label{
  font-size: 1.1rem;
  font-family: open-sans-condensed,sans-serif;
  margin: 5px 15px;
}
.submit-proposal{
  background-color: paleturquoise;
  cursor: pointer;
}
.submit-proposal:hover{
  text-decoration: underline 5px;
  text-underline-offset: 3px;
  background-color: #20252a;
  color: #fafafa;
}
/* --------------------  footer  --------------------- */
footer{
  position: fixed;
	z-index: 0;
  bottom: 10px;
  padding: 30px 40px;
  overflow-x: hidden;
  }


.copyright{
  font-size: 2vh;
}


/* --------------------  breakpoints  --------------------- */


@media (min-width: 768px){
  .deadline-home{
    flex-direction: row;
  }
}


@media (min-width: 1040px){

}


@media (min-width: 1400px){

}